<!-- IF S_USER_LOGGED_IN -->
	<!-- IF S_SHOW_MISSINGAVATAR_PANEL -->
		<div style="width: 100%">
			<div style="border: 2px solid #ff0000; background-color: #f59696; padding: 20px 0; border-radius: 7px;">
				<div style="width: 100%; text-align: center; font-size: 24px; color:#000000;">{L_KAEROL_MISSINGAVATAR}</div>
				<br/>
				
				<span style="font-size: 14px; color:#000000; padding: 0 20px">{L_KAEROL_MISSINGAVATAR_DESC_1}</span>
				<a style="font-size: 14px;" href="/viewtopic.php?f=75&t=3634">{L_KAEROL_MISSINGAVATAR_DESC_2}</a>
			
				<br/>
				<br/>
				<div style="font-size: 10px; text-align: right; color:#000000; padding: 0 20px">
					<span>{L_KAEROL_MISSINGAVATAR_FOOTER}</span>
					<br/>
					<a href="/ucp.php?i=pm&mode=compose&u=588">Prywatne wiadomości</a>
				</div>
			</div>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->
